header {
	height: 100vh;
	min-height: 600px;
	max-height: 1300px;
	background: url(../img/bg-slider-06.jpg) center/cover no-repeat;
	display: flex;
	flex-flow: column nowrap;
}

nav {
	width: 70%;
	margin: 0 auto;
	padding-top: 35px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	.logo,
	.social-media {
		width: 8%;
		min-width: 120px;
	}
	.logo a {
		font-family: 'Allura', cursive;
		color: $white;
		font-size: 3rem;
		font-weight: 700;
	}
	.social-media {
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-end;
		align-items: center;
		a {
			margin-left: 25px;
			font-size: 1.1rem;
			color: $white;
			transition: all 250ms;
			&:hover {
				transform: scale(1.3);
			}
		}
	}
	ul {
		flex: 1;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;
		align-items: center;
		li {
			text-transform: uppercase;
			a {
				color: $white;
				font-size: 0.85rem;
				font-weight: 300;
			}
		}
	}
}

.head-title {
	// background-color: red;
	height: 70%;
	width: 70%;
	margin: 0 auto;
	@include flex-center;
	flex-flow: column nowrap;
	.elegant-title {
		font-size: 4rem;
	}
	h1 {
		text-transform: uppercase;
		color: $white;
		font-size: 4rem;
		letter-spacing: 10px;
	}
	.subtitle {
		color: $white;
		font-weight: 300;
		text-transform: uppercase;
		letter-spacing: 8px;
	}
}
