// ---------------------- SECTION 1 ----------------------
.sec1 {
	display: flex;
	flex-flow: row nowrap;
	@include mobile {
		flex-flow: column nowrap;
	}
	.text-presentation,
	.illustration {
		width: 50%;
		@include mobile {
			width: 100%;
		}
	}
	.text-presentation {
		background-color: $white;
		&__container {
			margin: 2%;
			padding: 2%;
			border: $elegant-title 1px dashed;
			@include flex-center;
			flex-flow: column nowrap;
			h3 {
				text-align: center;
				text-transform: uppercase;
				font-size: 1.5rem;
			}
		}
		&__description {
			text-align: center;
			letter-spacing: 1px;
			font-weight: 300;
			font-size: 1.2rem;
			line-height: 25px;
			color: $black;
			@include mobile-s {
				font-size: 1rem;
			}
		}
		&__cooker {
			margin: 40px 0 25px;
			@include flex-center;
			flex-flow: column nowrap;
			img {
				height: 90px;
				width: 90px;
				border-radius: 100%;
			}
			&--name {
				margin: 8px 0 5px;
				color: $black;
				font-weight: 600;
				font-size: 1.1rem;
				letter-spacing: 2px;
			}
			&--role {
				text-transform: uppercase;
				color: $grey1;
				font-weight: 500;
				font-size: 0.9rem;
			}
		}
	}
	.illustration {
		background: url(../img/store-01.jpg) center/cover no-repeat;
		@include mobile {
			display: none;
		}
	}
}

// ---------------------- SECTION 2 ----------------------
.sec2 {
	padding: 80px 0 140px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	position: relative;
	@include desk-max-width {
		padding: 80px 20px 140px;
	}
	&::after {
		content: '';
		position: absolute;
		z-index: -10;
		width: 100%;
		height: 65%;
		bottom: 0;
		background: url(../img/bg-menu-01.jpg) center/cover no-repeat;
		@include desk-max-width {
			width: calc(100% + 20px);
			left: -20px;
		}
	}
	> * {
		width: 55%;
		min-width: $desk-max-width;
		margin: 0 auto;
		@include desk-max-width {
			width: 100%;
			min-width: 0;
		}
	}
	&__title {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
	}
	&__nav {
		ul {
			margin-bottom: 40px;
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-around;
		}
		li {
			padding-bottom: 10px;
			border-bottom: $white 1px solid;
		}
		a {
			color: $white;
			font-weight: 300;
			font-size: 1.2rem;
			@include mobile {
				font-size: 0.9rem;
			}
		}
	}
	&__content {
		background-color: $white;
		border-top: $elegant-title 5px solid;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(4, 1fr);
		padding: 1%;
		column-gap: 5%;
		@include mobile {
			grid-template-columns: 1fr;
			grid-template-rows: repeat(8, 1fr);
		}
		&--elem {
			padding: 6% 3%;
			display: flex;
			flex-flow: row nowrap;
			border-bottom: $grey1 1px dashed;
			@include mobile {
				padding: 0 3%;
			}
			.illustration {
				height: 200px;
				width: 120px;
				@include flex-center;
				@include mobile-s {
					width: 80px;
				}
				&--img {
					height: 110px;
					width: 110px;
					border-radius: 100%;
					@include mobile-s {
						height: 70px;
						width: 70px;
					}
				}
			}
			.text {
				flex: 1;
				display: flex;
				flex-flow: column nowrap;
				justify-content: center;
				padding-left: 8px;
				h3 {
					font-family: 'Roboto', sans-serif;
					color: $black;
					text-transform: uppercase;
					font-weight: 500;
					font-size: 1.1rem;
					margin-bottom: 8px;
					line-height: 28px;
					@include mobile-s {
						font-size: 0.9rem;
						line-height: 20px;
					}
				}
				p {
					font-family: 'Roboto', sans-serif;
					color: $black;
					font-weight: 300;
					font-size: 1.3rem;
					line-height: 28px;
					font-size: 1.1rem;
					line-height: 20px;
				}
			}
			.price {
				width: 22%;
				display: flex;
				flex-flow: row nowrap;
				justify-content: flex-end;
				align-items: center;
				@include mobile-s {
					width: 15%;
				}
				p {
					color: $elegant-title;
					font-weight: 500;
					font-size: 1.5rem;
					@include mobile-s {
						font-size: 1.2rem;
					}
				}
			}
		}
	}
}

// ---------------------- SECTION 3 ----------------------
.sec3 {
	padding: 100px 0;
	width: 65%;
	min-width: $desk-max-width;
	margin: 0 auto;
	display: flex;
	@include desk-max-width {
		width: 100%;
		min-width: 0;
		padding: 100px 20px;
	}
	@include mobile {
		flex-flow: column nowrap;
	}
	.schedules {
		width: 30%;
		background-color: $black;
		@include mobile {
			width: 100%;
		}
		&__container {
			margin: 6%;
			padding: 6%;
			border: $elegant-title 1px dashed;
		}
		&__title {
			@include flex-center;
			flex-flow: column nowrap;
			h3 {
				text-transform: uppercase;
				font-size: 1.4rem;
				color: $white;
				letter-spacing: 2px;
			}
		}
		&__content {
			@include flex-center;
			flex-flow: column nowrap;
			h2 {
				margin-bottom: 10px;
				text-align: center;
				color: $elegant-title;
				text-transform: uppercase;
				font-weight: 500;
				font-size: 1.3rem;
				@include desk-max-width {
					font-size: 1.1rem;
				}
			}
			p {
				text-align: center;
				color: $white;
				line-height: 24px;
				font-weight: 300;
				&.last {
					margin-bottom: 40px;
				}
			}
		}
	}
	.reservation {
		flex: 1;
		background-color: $white;
		@include flex-center;
		flex-flow: column nowrap;
		@include mobile {
			padding: 50px 0;
		}
		&__title {
			@include flex-center;
			flex-flow: column nowrap;
			h3 {
				text-align: center;
				text-transform: uppercase;
				font-weight: 600;
				font-size: 2.2rem;
			}
		}
		&__form {
			width: 80%;
			display: flex;
			flex-flow: column nowrap;
			justify-content: flex-start;
			align-items: center;
		}
		&__inputs {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(2, 1fr);
			column-gap: 5%;
			@include mobile {
				grid-template-columns: 1fr;
				grid-template-rows: repeat(6, 1fr);
				width: 80%;
			}
			.input-area {
				padding-bottom: 5px;
				margin-bottom: 30px;
				border-bottom: $grey1 1px solid;
				> * {
					width: 100%;
					color: $black;
					font-size: 1rem;
					padding: 4px;
				}
				> select:focus,
				input:focus {
					outline: none;
				}
			}
		}
		&__button {
			width: 100%;
			@include flex-center;
			input {
				padding: 1.5% 5%;
				font-family: 'Poppins', sans-serif;
				background-color: $black;
				color: $white;
				font-size: 1.1rem;
				text-transform: uppercase;
				font-weight: 500;
				letter-spacing: 3px;
				border-radius: 25px;
				transition: all 250ms;
				&:hover {
					transform: scale(1.1);
				}
			}
		}
	}
}

// ---------------------- SECTION 4 ----------------------
.sec4 {
	padding: 80px 0 300px;
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	@include desk-max-width {
		padding: 80px 20px 300px;
	}
	@include mobile {
		padding: 80px 20px 125px;
	}
	&::after {
		content: '';
		position: absolute;
		z-index: -10;
		width: 100%;
		height: 25%;
		bottom: 0;
		background: url(../img/gmap.jpg) center/cover no-repeat;
		@include desk-max-width {
			width: calc(100% + 20px);
			left: -20px;
		}
	}
	> * {
		width: 65%;
		min-width: $desk-max-width;
		margin: 0 auto;
		@include desk-max-width {
			width: 100%;
			min-width: 0;
		}
	}
	&__title {
		@include flex-center;
		flex-flow: column nowrap;
		@include mobile {
			display: none;
		}
		h3 {
			color: $white;
			text-transform: uppercase;
			font-weight: 600;
			font-size: 2.7rem;
		}
	}
	&__event-list {
		display: grid;
		grid-template-columns: 3fr 2fr;
		grid-template-rows: repeat(2, 1fr);
		grid-template-areas:
			'sma1 big'
			'sma2 big';
		gap: 30px;
		@include mobile {
			display: none;
		}
	}
	&__event-element:nth-child(1) {
		grid-area: sma1;
	}
	&__event-element:nth-child(2) {
		grid-area: sma2;
	}
	&__event-element:nth-child(3) {
		grid-area: big;
	}
	.illustration {
		&--1 {
			background: url(../img/event-01.jpg) center/cover no-repeat;
		}
		&--2 {
			background: url(../img/event-02.jpg) center/cover no-repeat;
		}
	}
	&__event-element {
		.date {
			background-color: $background1;
			@include flex-center;
			flex-flow: column nowrap;
		}
		.number {
			color: $white;
			font-size: 2.3rem;
		}
		.month {
			color: $white;
			font-weight: 300;
			font-size: 1.4rem;
		}
		.informations {
			display: flex;
			flex-flow: row wrap;
			p {
				margin-right: 20px;
				color: $grey1;
				line-height: 30px;
				font-weight: 300;
				letter-spacing: 1px;
				font-size: 1rem;
				&:last-child {
					margin-right: 0;
				}
			}
		}
		h2 {
			font-family: 'Roboto', sans-serif;
			font-weight: 300;
			font-size: 1.6rem;
			color: $black;
		}
		a {
			color: $black;
			text-transform: uppercase;
			font-size: 1.1rem;
			letter-spacing: 2px;
		}
	}
	&__event-element--small {
		display: flex;
		flex-flow: row nowrap;
		.illustration {
			width: 35%;
			aspect-ratio: 1 / 1;
			@include flex-center;
		}
		.date {
			width: 50%;
			height: 50%;
		}
		.description {
			flex: 1;
			background-color: $white;
			padding: 7% 4%;
			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
			.informations {
				margin: 30px 0;
			}
		}
	}
	&__event-element--big {
		background: url(../img/event-03.jpg) center/cover no-repeat;
		padding: 7%;
		.element-container {
			background-color: $white;
			width: 100%;
			height: 100%;
			display: grid;
			grid-template-rows: 25% 75%;
		}
		.date {
			height: 100%;
			margin: 0 auto;
			aspect-ratio: 1 / 1;
		}
		.description {
			margin: 17% 5%;
			@include flex-center;
			flex-flow: column nowrap;
			justify-content: space-between;
		}
		h2 {
			text-align: center;
			margin-bottom: 20px;
		}
		.informations {
			@include flex-center;
		}
	}
	&__citation {
		margin-top: 180px;
		position: relative;
		background-color: $white;
		padding: 80px 6%;
		@include flex-center;
		flex-flow: column nowrap;
		@include mobile {
			margin-top: 0;
		}
		&::before {
			content: '';
			position: absolute;
			top: 0%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 75px;
			height: 75px;
			border-radius: 100%;
			background: url(../img/avatar-02.jpg) center/cover no-repeat;
		}
		blockquote {
			color: $black;
			text-align: center;
			font-size: 1.2rem;
			line-height: 35px;
			font-weight: 300;
			@include mobile-s {
				font-size: 1.1rem;
			}
		}
		p {
			text-align: center;
			font-weight: 300;
		}
		.name {
			margin: 50px 0 30px;
			color: $black;
			font-size: 1.8rem;
			letter-spacing: 1px;
			@include mobile-s {
				font-size: 1.5rem;
			}
		}
		.role {
			color: $elegant-title;
			font-size: 1.3rem;
			@include mobile-s {
				font-size: 1.15rem;
			}
		}
	}
}
