// flex center
@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

// ------------------ RESPONSIVE ------------------

// Desk-max-width
@mixin desk-max-width {
	@media screen and (max-width: $desk-max-width) {
		@content;
	}
}

// Mobile
@mixin mobile {
	@media screen and (max-width: $tablet) {
		@content;
	}
}

// Mobile small
@mixin mobile-s {
	@media screen and (max-width: $mobile-s) {
		@content;
	}
}
