// colors
$white: #eee;
$black: #111;
$grey1: #b6b6b7;
$grey2: #595956;
$background1: #21201e;
$background2: #161513;
$elegant-title: #a67245;

// sizes
$desk-max-width: 1100px;
$tablet: 992px;
$mobile: 768px;
$mobile-s: 576px;
