@import url("https://fonts.googleapis.com/css2?family=Allura&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
input[type=button] {
  border: none;
  background: none;
  cursor: pointer;
}

a {
  color: #000;
  text-decoration: none;
}

input[type=text],
input[type=time],
input[type=date],
select,
textarea {
  border: none;
  background: none;
}

textarea {
  resize: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #21201e;
}

.container {
  max-width: 2000px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.elegant-title {
  font-family: "Allura", cursive;
  color: #a67245;
  font-weight: 400;
  font-size: 3.4rem;
  text-align: center;
}

.icon-cutlery {
  margin: 40px 0;
  height: 35px;
  width: 35px;
}

header {
  height: 100vh;
  min-height: 600px;
  max-height: 1300px;
  background: url(../img/bg-slider-06.jpg) center/cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

nav {
  width: 70%;
  margin: 0 auto;
  padding-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav .logo,
nav .social-media {
  width: 8%;
  min-width: 120px;
}
nav .logo a {
  font-family: "Allura", cursive;
  color: #eee;
  font-size: 3rem;
  font-weight: 700;
}
nav .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav .social-media a {
  margin-left: 25px;
  font-size: 1.1rem;
  color: #eee;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}
nav .social-media a:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
nav ul {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav ul li {
  text-transform: uppercase;
}
nav ul li a {
  color: #eee;
  font-size: 0.85rem;
  font-weight: 300;
}

.head-title {
  height: 70%;
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}
.head-title .elegant-title {
  font-size: 4rem;
}
.head-title h1 {
  text-transform: uppercase;
  color: #eee;
  font-size: 4rem;
  letter-spacing: 10px;
}
.head-title .subtitle {
  color: #eee;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 8px;
}

.sec1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}
.sec1 .text-presentation,
.sec1 .illustration {
  width: 50%;
}
.sec1 .text-presentation {
  background-color: #eee;
}
.sec1 .text-presentation__container {
  margin: 2%;
  padding: 2%;
  border: #a67245 1px dashed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}
.sec1 .text-presentation__container h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
}
.sec1 .text-presentation__description {
  text-align: center;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 25px;
  color: #111;
}
.sec1 .text-presentation__cooker {
  margin: 40px 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}
.sec1 .text-presentation__cooker img {
  height: 90px;
  width: 90px;
  border-radius: 100%;
}
.sec1 .text-presentation__cooker--name {
  margin: 8px 0 5px;
  color: #111;
  font-weight: 600;
  font-size: 1.1rem;
  letter-spacing: 2px;
}
.sec1 .text-presentation__cooker--role {
  text-transform: uppercase;
  color: #b6b6b7;
  font-weight: 500;
  font-size: 0.9rem;
}
.sec1 .illustration {
  background: url(../img/store-01.jpg) center/cover no-repeat;
}

.sec2 {
  padding: 80px 0 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}
.sec2::after {
  content: "";
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 65%;
  bottom: 0;
  background: url(../img/bg-menu-01.jpg) center/cover no-repeat;
}
.sec2 > * {
  width: 55%;
  min-width: 900px;
  margin: 0 auto;
}
.sec2__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sec2__nav ul {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.sec2__nav li {
  padding-bottom: 10px;
  border-bottom: #eee 1px solid;
}
.sec2__nav a {
  color: #eee;
  font-weight: 300;
  font-size: 1.2rem;
}
.sec2__content {
  background-color: #eee;
  border-top: #a67245 5px solid;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  padding: 1%;
  -webkit-column-gap: 5%;
     -moz-column-gap: 5%;
          column-gap: 5%;
}
.sec2__content--elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  border-bottom: #b6b6b7 1px dashed;
}
.sec2__content--elem .illustration {
  height: 200px;
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sec2__content--elem .illustration--img {
  height: 110px;
  width: 110px;
  border-radius: 100%;
}
.sec2__content--elem .text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 8px;
}
.sec2__content--elem .text h3 {
  font-family: "Roboto", sans-serif;
  color: #111;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.1rem;
  margin-bottom: 8px;
  line-height: 28px;
}
.sec2__content--elem .text p {
  font-family: "Roboto", sans-serif;
  color: #111;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 28px;
}
.sec2__content--elem .price {
  width: 22%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sec2__content--elem .price p {
  color: #a67245;
  font-weight: 500;
  font-size: 1.5rem;
}

.sec3 {
  padding: 100px 0;
  width: 65%;
  min-width: 1100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sec3 .schedules {
  width: 30%;
  background-color: #111;
}
.sec3 .schedules__container {
  margin: 6%;
  padding: 6%;
  border: #a67245 1px dashed;
}
.sec3 .schedules__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}
.sec3 .schedules__title h3 {
  text-transform: uppercase;
  font-size: 1.4rem;
  color: #eee;
  letter-spacing: 2px;
}
.sec3 .schedules__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}
.sec3 .schedules__content h2 {
  margin-bottom: 10px;
  text-align: center;
  color: #a67245;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.3rem;
}
.sec3 .schedules__content p {
  text-align: center;
  color: #eee;
  line-height: 24px;
  font-weight: 300;
}
.sec3 .schedules__content p.last {
  margin-bottom: 40px;
}
.sec3 .reservation {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}
.sec3 .reservation__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}
.sec3 .reservation__title h3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2.2rem;
}
.sec3 .reservation__form {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sec3 .reservation__inputs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  -webkit-column-gap: 5%;
     -moz-column-gap: 5%;
          column-gap: 5%;
}
.sec3 .reservation__inputs .input-area {
  padding-bottom: 5px;
  margin-bottom: 30px;
  border-bottom: #b6b6b7 1px solid;
}
.sec3 .reservation__inputs .input-area > * {
  width: 100%;
  color: #111;
  font-size: 1rem;
  padding: 4px;
}
.sec3 .reservation__inputs .input-area > select:focus,
.sec3 .reservation__inputs .input-area input:focus {
  outline: none;
}
.sec3 .reservation__button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sec3 .reservation__button input {
  padding: 1.5% 5%;
  font-family: "Poppins", sans-serif;
  background-color: #111;
  color: #eee;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 3px;
  border-radius: 25px;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}
.sec3 .reservation__button input:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}/*# sourceMappingURL=index.css.map */